<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Humain</title>
  <meta name="description" content="This is a index page for humain">
  <meta property="og:title" content="Index page for humain">
  <meta property="og:type" content="website">
  <meta property="og:description" content="This is a index page for humain">
  <meta property="og:site_name" content="humain">
</head>

<body>
  <h1>Index page for humain</h1>
</body>

</html>