<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>All</title>
  <meta name="description" content="This is a specific page for all">
  <meta property="og:title" content="Specific page for all">
  <meta property="og:type" content="website">
  <meta property="og:description" content="This is a specific page for all">
  <meta property="og:site_name" content="all">
</head>

<body>
  <h1>Specific page for all</h1>
</body>

</html>